/** ===================================
	Media Queries - Responsive Layout 
=======================================*/

/** ===================================
	Desktop
=======================================*/
@media (max-width: 1536px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1028px;
    }
}

/** ===================================
	Tablet & Small Laptop
=======================================*/
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    section {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    /**** HEADER ******/

    .header__container {
        flex-direction: column;
    }

    .header__column--left {
        flex-direction: column;
        align-items: center;
    }

    .header__content--left {
        align-items: center;
    }

    .header__content--left p {
        text-align: center;
        max-width: 320px;
    }

    .header__column--right {
        text-align: center;
        align-items: center
    }



    /**** SKILLS ******/
    .softSkills__badge {
        position: relative !important;
        transform: none !important;
        left: auto !important;
        top: auto !important;
        bottom: auto !important;
        right: auto !important;
    }

    .softSkills__book_icons {
        display: none;
    }

    /*** PROJECTS ***/
    .projects__cards_container {
        grid-template-columns: repeat(2, minmax(340px, auto));
    }
}

/** ===================================
	Small Tablet
=======================================*/

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    /**** ABOUT ME ******/
    .aboutMe__section {
        margin: 80px auto;
    }

    .aboutMe__section img {
        display: none;
    }

    /**** SKILLS ******/
    .skills__grid_container {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-auto-rows: minmax(280px, auto);

        & .skills__grid_item {
            padding: 1rem 1rem;
            grid-column: span 1 !important;
            grid-row: span 1 !important;
        }
    }

    /*** PROJECTS ***/
    .projects__cards_container {
        grid-template-columns: repeat(1, minmax(320px, auto));
    }
}

/** ===================================
	Phone
=======================================*/

@media (max-width: 640px) {
    :root {
        font-size: 14px;
        line-height: 16px;
    }

    section {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    header {
        margin-top: 20px;
    }

    .container {
        max-width: 475px;
        padding: 0 1rem;
    }

    .section__title {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
    }

    /**** HEADER ******/

    .header__badge_container {
        flex-direction: column;
    }

    /**** ABOUT ME ******/
    .aboutMe__container {
        padding: 1rem;
        width: 90%;
        border-radius: 2rem;
    }

    .aboutMe__content_container {
        border-radius: 2rem;
    }

    /**** FOOTER ******/
    footer {
        padding: 0;
    }
}